Config { font = "-*-Fixed-Bold-R-Normal-*-14-*-*-*-*-*-*-*"
		, bgColor	= "#073642" --"#002b36"
		, fgColor	= "#657b83"
		, position	= TopW L 100
		, commands	= [ 
						Run Cpu ["-L","3","-H","50","--normal","#859900","--high","#dc322f"] 10
						, Run BatteryP ["BAT0"]
							["-t", "<leftbar> <timeleft> <watts>",
							"-L", "10", "-H", "80", "-p", "3",
							"--", "-O", "<fc=#859900>On</fc> - ",
							"-L", "-15", "-H", "-5",
							"-l", "#dc322f", "-m", "#268bd2", "-h", "#859900"] 10
						, Run Date "%a %d/%m-%y %H:%M" "date" 10
						, Run StdinReader
						]
       , sepChar	= "%"
       , alignSep	= "}{"
       , template	= "%StdinReader% }{ %cpu% | <fc=#b58900>%date%</fc> "
       }
